# Explanatory Data Analysis

In [1]:
# Import packages
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# Set options
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
# Import data
train_x_raw = pd.read_csv("../01-Data/X_train.csv", low_memory = True, index_col=0)
train_y_raw = pd.read_csv("../01-Data/y_train.csv", low_memory = True, index_col=0)
test_x_raw = pd.read_csv("../01-Data/X_test.csv", low_memory=True, index_col=0)

df_train = pd.DataFrame(train_x_raw)
df_test = pd.DataFrame(test_x_raw)
df_y = pd.DataFrame(train_y_raw)

## Analysis of Missing Observations

In [3]:
# x_train
missing_values_train = df_train.isnull().sum()
print("Missing values in x_train:")
for column, count in missing_values_train.items():
    if count > 0:
        print(f"Column '{column}': {count}")

# x_test
missing_values_test = df_test.isnull().sum()
print("\nMissing values in x_test:")
for column, count in missing_values_test.items():
    if count > 0:
        print(f"Column '{column}': {count}")

Missing values in x_train:
Column 'v228b_r': 1
Column 'v231b_r': 3
Column 'v233b_r': 2
Column 'v251b_r': 4

Missing values in x_test:
Column 'v233b_r': 1

No missing values to deal with -- in range of column 1 - 146

In [4]:
print(df_train.iloc[:, :146].dtypes)

year         int64
fw_start     int64
fw_end       int64
country      int64
c_abrv      object
v1           int64
v2           int64
v3           int64
v4           int64
v5           int64
v7           int64
v8           int64
v9           int64
v10          int64
v11          int64
v12          int64
v13          int64
v14          int64
v15          int64
v16          int64
v17          int64
v18          int64
v19          int64
f20          int64
v20          int64
v20a         int64
v20b         int64
v21          int64
v22          int64
v23          int64
v24          int64
f24_IT       int64
v24a_IT      int64
v24b_IT      int64
v25          int64
v26          int64
v27          int64
v28          int64
v29          int64
v30          int64
f30a         int64
v30a         int64
v30b         int64
v30c         int64
v31          int64
v32          int64
v33          int64
v34          int64
v35          int64
v36          int64
v37          int64
v38          int64
v39          int64
v40          int64
v41          int64
v42          int64
v43          int64
v44          int64
v45          int64
f45a         int64
v45a         int64
v45b         int64
v45c         int64
v46          int64
f46_IT       int64
v47          int64
v48          int64
v49          int64
v50          int64
v51          int64
v52          int64
v52_cs       int64
v53          int64
v54          int64
v55          int64
v56          int64
v57          int64
v58          int64
v59          int64
v60          int64
v61          int64
v62          int64
v63          int64
v64          int64
v65          int64
v66          int64
v67          int64
v68          int64
v69          int64
v70          int64
v71          int64
v72          int64
v72_DE       int64
v73          int64
v73_DE       int64
v74          int64
v74_DE       int64
v75          int64
v75_DE       int64
v76          int64
v76_DE       int64
v77          int64
v77_DE       int64
v78          int64
v78_DE       int64
v79          int64
v79_DE       int64
v80          int64
v81          int64
v82          int64
v83          int64
v84          int64
f85          int64
v85          int64
v86          int64
v87          int64
v88          int64
v89          int64
v90          int64
v91          int64
v92          int64
v93          int64
v94          int64
v95          int64
f96          int64
v96          int64
v96a         int64
v96b         int64
v97          int64
v98          int64
v99          int64
v100         int64
v101         int64
v102         int64
v103         int64
v104         int64
v105         int64
v106         int64
v107         int64
f108         int64
v108         int64
v109         int64
f110         int64
v110         int64
v111         int64
v111_4       int64
dtype: object

There is one string variable, `c_abrv`. We **drop** this variable as we already have the similar variable, `country`.

In [5]:
# See the values for c_abrv
frequency_table = df_train['c_abrv'].value_counts()
print(frequency_table)

c_abrv
DK    2843
CH    2664
NL    2000
IT    1901
GE    1854
DE    1817
FR    1587
RU    1524
CZ    1519
AZ    1514
GB    1491
BA    1439
AT    1376
IS    1357
UA    1348
RO    1336
BG    1302
BY    1297
HR    1271
HU    1260
AM    1257
RS    1255
LT    1222
AL    1194
SK    1188
PL    1137
LV    1106
EE    1101
PT    1022
ES    1010
FI    1004
NO     951
MK     940
SI     913
Name: count, dtype: int64

Out of 145 *numeric* variables, based on the codebook, we classify them into the following groups:


drop f46_IT, v72_DE, v73_DE v74_DE, v75_DE, v76_DE v77_DE v78_DE v79_DE

1. Typical numeric variables: year, fw_start, fw_end, country
2. How important in your life: ___ (importance order): v1, v2, v3, v4, v5
3. Misc questions with logical ordinalities: v7, v8, v38, v39, v46, v47, v48, v49, v50, v54, v55, v56, v62, v63, v64, v72, v73, v74, v75, v76, v77, v78, v79, v80, v81, v82, v83, v84, v97, v102, v103, v104, v105, v106, v107
4. Misc questions with yes/no: v21, v31, v51, v53, v71
5. Do you belong to: ___ (category mentioned / not mentioned): v9, v10, v11, v12, v13, v14, v15, v16, v17, v18, v19
**5-1.** Do you belong to - none? f20 (inconsistency), v20, v20a, v20b
6. Don't like as neighbours: __ (category mentioned / not mentioned): v22, v23, v25, v26, v27, v28, v29, v30, 
**6-1.** Don't like as neighbours - immigrants / foreign workers?: v24, f24_IT, v24a_IT, v24b_IT
**6-2.** Don't like as neighbours - none/DK: f30a, v30a, v30b, v30c
7. How much you trust: __ (category with ordinal responses): v32, v33, v34, v35, v36, v37
8. Important in a job: __ (category mentioned / not mentioned): v40, v41, v42, v43, v44, v45
**8-1.** Important in a job - none: f45a, v45a, v45b, v45c
9. which religious denomination do you belong to : v52, v52_cs
10. Do you believe in __ (category yes / no): v57, v58, v59, v60, v61
11. Important in marriage: __ (category with ordinal responses): v65, v66, v67, v68, v69, v70
12. learn children at home: __ (category mentioned / not mentioned): v85, v86, v87, v88, v89, v90, v91, v92, v93, v94, v95
**12-1**. f85: more than five checked --> Keep it as it is. 
**12-2**. learn children at home - none: f96, v96, v96a, v96b
13. Political Action: __ (category with frequencies): v98, v99, v100, v101
14. Aims of this country (category): f108, v108, v109
15. Aims of respondent: f110, v110, v111, v111_4

Drop unnecessary columns

In [6]:
columns_to_drop = ['c_abrv', 'f46_IT', 'v72_DE', 'v73_DE', 'v74_DE', 'v75_DE', 'v76_DE', 'v77_DE', 'v78_DE', 'v79_DE']
df_train.drop(columns=columns_to_drop, inplace=True)
df_test.drop(columns=columns_to_drop, inplace=True)

In [10]:
df_train['v52_cs'].describe()
df_train['v52_cs'].unique()

array([80403,    -3,  4005, 72401,  7003, 70301, 35201, 20301, 38001,
       75601,  7002,  3101, 20801, 75603, 26803, 64203, 25001, 35204,
       82603, 26801, 61601,    -2,   801, 26806, 57801,  4001, 80401,
       10001, 25002,  5101, 23307, 44001, 19101, 27605, 64301, 68801,
       64316, 11201, 42802, 80701, 27602, 24601, 82602, 27606, 70501,
       23302, 42801, 10002,  4026, 27601, 34802, 57808,  7001, 52801,
       64304, 80704, 75602, 62001, 80402, 72414, 34803,   804, 70306,
          -1, 25005, 34801, 62004, 52802, 42805, 64201, 75604, 42803,
       72402, 52803, 80412, 75607, 52806, 82601, 57805, 64209, 82614,
       44002, 38006, 57802, 70303, 52807, 70302, 82605, 34808, 24604,
       35212,  4021, 11203, 70503, 38004, 52811, 35216, 19103, 35209,
         803,  5103, 72416,   802, 20807, 35202, 23301, 34804, 62009,
        5116,  4006, 52809, 70505, 20802, 62010, 42806, 20302, 27603,
       35218, 24606, 64208, 25008, 57809, 52805, 82606, 26802, 26804,
        5102, 35206, 27604, 61602, 75605, 42808, 26807, 75608, 80407,
       75616, 20304, 82612, 44003, 10003, 38008, 82611, 25003, 80410,
       82617, 61603, 72412,  4015, 64303, 62003, 10030, 24602, 75609,
       42816, 11202, 68802, 34815, 25016, 11208, 20310, 57806, 27607,
       11210,  4017,  3102, 20303,   813, 82610,  4029, 57803, 34806,
       72404, 35205, 20312, 70305,  4024,   805,  5104, 19116, 64202,
       20305, 75606, 80404, 35215, 20803, 70304, 38030, 34805, 11204,
        4012, 42804, 10004,  4013,  4019, 35203, 80415, 82604, 20308,
       24605, 82616, 23303, 20309, 35220, 26808, 11214,  4020, 44016,
        3130,  4009, 70504, 82615, 35219,  4002, 44004, 19110, 62006,
       19104, 44006, 38002, 19102, 82609, 61604, 38007, 25004, 82613,
       35211, 19105,  4025, 64306, 19107, 80408, 68830, 62002, 70510,
       23304, 80406, 35207, 72411, 64302, 72403,  3104,  4014,  4007,
       61605, 62008, 24610, 25007, 35214, 52804,  4004, 68803, 19106,
       70502, 20311, 80405,  7030, 57807,  4016, 35217, 80702, 68807,
        5106, 35210, 80706,  4023, 25006, 20306, 72406,  4003, 64205,
       82608, 38003, 70508, 19109, 68808, 64216, 64305, 61611, 26809,
       70308, 80703, 26816], dtype=int64)

Preprocessing

In [33]:
transformed_column.describe()
transformed_column2.describe()
# train + test 합쳐서 해 보기

count    11438.000000
mean     20314.019934
std      27604.999792
min       -100.000000
25%         -3.000000
50%         -3.000000
75%      38001.000000
max      80701.000000
Name: v52_cs, dtype: float64

In [34]:
transformed_column.unique()

array([ -100,    -3,  7003, 70301, 35201, 38001, 75601,  3101, 20801,
       75603, 64203, 25001, 26801, 61601,   801, 57801,  4001, 10001,
        5101, 44001, 19101, 64301, 68801, 11201, 80701, 24601, 70501,
       62001], dtype=int64)