In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

X_train = pd.read_csv("../01-Data/X_train.csv")
y_train = pd.read_csv("../01-Data/y_train.csv")

          id  year  fw_start  fw_end  country c_abrv  v1  v2  v3  v4  ...  \
0          0  2020    202011  202011      804     UA   2   1   2   2  ...
1          1  2018    201809  201811      688     RS   2   1   2   2  ...
2          2  2017    201706  201803      352     IS   2   2   1   1  ...
3          3  2021    202105  202110      428     LV   1   2   1   1  ...
4          4  2018    201801  201805       40     AT   1   1   2   2  ...
...      ...   ...       ...     ...      ...    ...  ..  ..  ..  ..  ...
47995  47995  2019    201812  201903      807     MK   1   1   1   2  ...
47996  47996  2018    201808  201812      578     NO   1   1   1   2  ...
47997  47997  2018    201802  201807        8     AL   2   1   1   2  ...
47998  47998  2017    201709  201801      208     DK   2   1   2   2  ...
47999  47999  2018    201802  201807      826     GB   1   1   1   1  ...

       v278b  v278c_r  v279a  v279b  v279c_r  v279d_r  v280  v281a  v281a_r  \
0         45    14.45     15     40    15.40       55     1     uk      475
1         12    17.12     18     25    18.25       73     2     sr      397
2         58    15.58     13     20    13.20       -5     2     is       72
3         42     8.42      8     51     8.51        9     1     lv      256
4         51    12.51     13     53    13.53       62     1     de      158
...      ...      ...    ...    ...      ...      ...   ...    ...      ...
47995     10    14.10     14     48    14.48       38     1     mk      279
47996     20    15.20     16     45    16.45       85     1     no      200
47997     40    13.40     14     20    14.20       40     1     sq       13
47998     -4    -4.00     -4     -4    -4.00       -4    -4     da       32
47999     36     9.36     10     22    10.22       46     1     en      128

       v282
0        32
1         3
2        87
3      5157
4        64
...     ...
47995     1
47996  1302
47997    10
47998    -4
47999  7823

[48000 rows x 438 columns]